@import "tailwindcss";

:root {
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --font-outfit: var(--font-outfit);
}
